extends layout.pug 

block content
    p Here we need to check whether user is logged in or not and redirect accordingly.
    p Until backend and frontend are connected, here are the main pages: 
    ul 
        li 
            a(href="/login") Login